---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="so_comments" data-sitename="webquartz"></div> 
  <script src="//api.solidopinion.com/widget/embed.js" async="async"></script> 
  <noscript>Please enable JavaScript to view the <a href="http://solidopinion.com/">comments powered by Solidopinion.</a></noscript>

</div>
