---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <!--
  <div class="so_comments" data-sitename="webquartz"></div> 
  <script src="//api.solidopinion.com/widget/embed.js" async="async"></script> 
  <noscript>Please enable JavaScript to view the <a href="http://solidopinion.com/">comments powered by Solidopinion.</a></noscript>
  -->
  <script>
  var idcomments_acct = 'd2cd8bbd8e8c88beec0be8869b39ccf4';
  var idcomments_post_id;
  var idcomments_post_url;
  </script>
  <script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>


  <script>
  var idcomments_acct = 'd2cd8bbd8e8c88beec0be8869b39ccf4';
  var idcomments_post_id;
  var idcomments_post_url;
  </script>
  <span id="IDCommentsPostTitle" style="display:none"></span>
  <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>

</div>
